<a class='share-btn' href="https://twitter.com/share?url=<%= request.url %>&text=<%= sanitize '%0a「my portfolio」はポートフォリオを共有し合って楽しむサービスです' %>" rel="nofollow" target="_blank">Tweet</a>
 

 <div class="category-search">
  <%= form_tag({:controller => 'static_pages', :action => 'home'}, {:method => :get, :class => 'search-form'}) do %>

   <p id="search-text">条件検索:</p>

   <%= select_tag :type, options_for_select([["カテゴリ", "カテゴリ"], ["アプリケーション", "アプリケーション"], ["Webサイト", "Webサイト"], ["デザイン", "デザイン"], ["写真", "写真"], ["絵", "絵"], ["UI/UX", "UI/UX"], ["音楽", "音楽"], ["映像", "映像"], ["ハードウェア", "ハードウェア"], ["文章", "文章"], ["その他", "その他"]]) %>

 
    <%= select_tag :featured, options_for_select([["表示順", "表示順"], ["Likeが多い", "Likeが多い"], ["最近", "最近"]]) %>

    <%= submit_tag "検索", :id => "search" %>

   <% end %>

   <p class="home-tag-text">タグ検索:</p>
   <%= link_to "タグを選択する", static_pages_search_path, remote: true, :class=>"search-tag" %>
   <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

 </div>

<div>
 <p class="home-text" style="text-align: center;font-family: Futura;">Portfolios</p>

 <% if params[:tag_id].present? && !@home_articles.present? %>
  <div style="margin-left: 20px;">
   <p><%= Tag.find(params[:tag_id]).content %>は探しまわったけど見つからなかった... </p>
  </div>
 <% end %>

 <% if params[:type].present? && !@home_articles.present? %>
  <div style="margin-left: 20px;">
   <p><%= params[:type] %>は探しまわったけど見つからなかった...</p>
  </div>
 <% end %>

 <div class="home-flex">
  <% @home_articles.each do |article| %>
   <div class="home-article">
   <a href="<%= article_url(article.id) %>" style="text-decoration:none;">
    <div class="home-article-image" style="background-image: url('<%= article.image.home.url %>')"></div>
    <p class="home-article-name"><%= article.name %></p>
    <p class="home-article-creator"><%= 'creator : ' + article.user.name %></p>
    <div class="article-desc">
     <%= article.description %>
    </div>
   </a>
    <% if @login_user.present? %>
     <div id="<%= article.id %>" style="margin-bottom: 10px;">
      <%= render "likes/like", article: article %>
     </div>
    <% end %>
     <% i = 0 %>
     <% article.tags.each do |tag| %>
      <%= link_to tag.content, root_path(:tag_id => tag.id), :class => "search-tag", :style => "margin-top: 3px; margin-left: 3px;" %>
      <% i += 1 %>
      <% break if i == 3 %>
     <% end %>
   </div>
  <% end %>
 </div>
</div>


<div>
 <p class="home-text" style=" text-align: center;font-family: Futura;">Creators</p>
 <div class="home-flex">
  <% @home_users.each do |user| %>
   <a class="home-user" href="<%= user_url(user.id) %>" style="background-image: url('<%= user.picture.home.url %>');">
     <% if user.image %>
      <%= image_tag(user.image, :size => 70, :class => "card-icon") %>
     <% else %>
      <%= image_tag(user.seedicon, :size => 70, :class => "card-icon") %>
     <% end %>
    <div class="text">
     <p class="card-user-name"><%= user.name %></p>
     <p class="card-user-type"><%= user.type if user.type.present? %></p>
    </div>
    <p class="home-follow" style="color: white;"><%= "フォロー" + user.following.count.to_s + "  フォロワー" + user.followers.count.to_s%></p>
   </a>
  <% end %>
 </div>
</div>

