<div class="article-show">

<% if @login_user.present? %>
 <%= link_to "コメントする", comments_new_path(:article_id => params[:id]), :class => "comment-btn", remote: true %>
 <div class="modal fade" id="comment-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>


<% end %>
<% text = ERB::Util.html_escape('my portfolio | 作品を共有し合って盛り上がるサービスですhttps://qiita.com/hide/items/5bfe5b322872c61a6896'); %>
<a href="#" class="share-btn">Twitterでシェア</a>

<div>
 <p><%= "カテゴリー: " + @article.type.to_s %></p>
 <% @article.tags.each do |tag| %>
  <%= link_to tag.content, root_path(:tag_id => tag.id), :class => "search-tag", :style => "margin-top: 3px; margin-left: 3px;" %>
 <% end %>
</div>
<p class="article-name"><%= @article.name %></p>
<p class="article-catchcopy"><%= '〜' + @article.catchcopy + '〜' %></p>
<p class="user-name">creater: <%= link_to(@article.user.name, @creator) %></p>
 <% if @login_user.present? %>
  <div id="<%= @article.id %>">
   <%= render "likes/like", article: @article %>
  </div>
 <% end %>

<div style="display: inline-block; margin-bottom: 10px; margin-top: 50px;">
<% if @login_user.present? && @login_user.id == @article.user.id %>
 <%= link_to "作品を編集する", edit_article_path(@article), :class => "edit-article-btn" %>
 <%= link_to "作品を削除する", article_path(@article), method: :delete, :class => "edit-article-btn" %>
 <%= link_to "タグの編集", tag_article_path(@article.id), :class => "edit-article-btn" %>
<% end %>
</div>

<%= image_tag(@article.image, :class=>"article-image") if @article.image.present? %>

<% if @article.url.present? %>
 <%= link_to "作品を見にいく", @article.url, :class =>"article-url-btn", target: :_blank%>
<% end %>

<p class="about-article">About</p>
<%= @article.description %>

<div id="flash_messages">
  <% if flash.present? %>
   <% flash.each do |type, message| %>
    <p><%= type %>: <%= message %></p>
   <% end %>
  <% end %>
</div>

<div id="comments">
 <%= render "comments" %>
</div>

</div>
