<div class="article-show">

<% if @login_user.present? %>
 <%= link_to "コメントする", comments_new_path(:article_id => params[:id]), :class => "comment-btn", remote: true %>
 <div class="modal fade" id="comment-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>


<% end %>
<a class='share-btn' href="https://twitter.com/share?url=<%= request.url %>&text=<%= @article.user.name + 'の作品「' + @article.name + '」' %><%= sanitize '%0a「my portfolio」はポートフォリオを共有し合って楽しむサービスです' %>" rel="nofollow" target="_blank">Tweet</a>


<div>
 <p><%= "カテゴリー: " + @article.type.to_s %></p>
 <% @article.tags.each do |tag| %>
  <%= link_to tag.content, root_path(:tag_id => tag.id), :class => "search-tag", :style => "margin-top: 3px; margin-left: 3px;" %>
 <% end %>
</div>
<p class="article-name"><%= @article.name %></p>
<p class="article-catchcopy"><%= '〜' + @article.catchcopy + '〜' %></p>
<p class="user-name">creater: <%= link_to(@article.user.name, @creator) %></p>
 <% if @login_user.present? %>
  <div id="<%= @article.id %>">
   <%= render "likes/like", article: @article %>
  </div>
 <% end %>

<% if @article.like_users.present? %>
<p style="font-size: 15px; font-family: Futura; margin-top: 10px; color: #808080;">liked by:</p>
<div class="user-show-follow-info" style="margin-left: 0;">
<% @article.like_users.each do |like_user| %>
  <% icon = like_user.seedicon.present? ? like_user.seedicon : like_user.image %>
  <%= link_to image_tag(icon, :size =>60, :class=>"follow-icon"), user_path(like_user) %>
<% end %>
</div>
<% end %>

<div style="display: inline-block; margin-bottom: 10px; margin-top: 50px;">
<% if @login_user.present? && @login_user.id == @article.user.id %>
 <%= link_to "作品を編集する", edit_article_path(@article), :class => "edit-article-btn" %>
 <%= link_to "作品を削除する", article_path(@article), method: :delete, :class => "edit-article-btn" %>
 <%= link_to "タグの編集", tag_article_path(@article.id), :class => "edit-article-btn", :style=>"display: block; padding: 0.1em 1em;" %>
<% end %>
</div>

<%= image_tag(@article.image, :class=>"article-image") if @article.image.present? %>

<% if @article.url.present? %>
 <%= link_to "作品を見にいく", @article.url, :class =>"article-url-btn", target: :_blank%>
<% end %>

<p class="about-article">About</p>
<%= @article.description %>


<div id="comments">
 <%= render "comments" %>
</div>

</div>
