<div class="edit">

 <% if @login_user.errors.any? %>
  <script type="text/javascript">
   <% @login_user.errors.full_messages.each do |msg| %>
    toastr.error('<%= msg %>');
   <% end %>
  </script>
 <% end %>


<%= form_for @login_user, url: user_path(@login_user), html: {method: "patch"} do |f| %>

 <div class="form-group">
  <%= f.label "お名前"  %>
  <%= f.text_field :name, :maxlength => 30, :class => "form-control" %>
 </div>

 <div class="form-group">
  <%= f.label "自己紹介" %>
  <%= f.text_area :description, :maxlength => 160, :class => "form-control" %>
 </div>

 <div class="form-group ">
  <%= f.label "背景画像"%>
  <%= f.file_field :picture %>
  <p>※必須ではありません.</p>
  <p>*縦横比が1:2できれいに表示されます.</p>
  <p>上に白い文字が乗るため、色が濃い画像がオススメです.</p>
 </div>

 <div class="form-group">
  <%= f.label "職業" %>
  <%= f.text_field :type, :maxlength => 15, :class => "form-control" %>
  <p>※必須ではありません. jpg, jpeg, gif, pngがアップロード可能です.</p>
 </div>

 <button type="submit" class="btn btn-primary">変更</button>

<% end %>
</div>
